{% extends 'base.html' %}
{% block content %}
        <!-- table -->
        <table>
            <tr>
                <th>Dates</th>
            </tr>
            {% for date in dates%}
                <tr>
                    <td>{{date.date_now}}</td>
                    <td><a href="/view_att?date_selected={{date.date_now}}">View</a> </td>
                    <td><a href="/download_att?date_selected={{date.date_now}}">Download</a> </td>
                    <td><button><a href="/view_att?date_selected={{date.date_now}}">Edit</a></button></td>
                </tr>
            {%endfor%}
        </table>
    <!-- </div> -->
<!-- </div> -->
<!-- </div> -->
{% endblock %}