{% extends 'base.html' %}
{% block content %}
<div class="container row">
    <div class="card hoverable col s4 offset-s4" id="student-login-card">
        <div class="card-content">
        <div class="row">
            <div class="col s6 offset-s3">
                <span class="card-title center">Edit Student</span>
            </div>
        </div>
        <!-- input form of first and last name, and pin, cohort, city -->
        <div class="row">
            <form action="/edit_student" method="post">
                <table>
                    <tr>
                        <input type="hidden" name="student_id" value="{{student.id}}" />

                        <td><label for="first_name">First Name</label></td>
                        <td>
                            <input name="first_name" type="text" value="{{student.first_name}}">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="last_name">Last Name</label></td>
                        <td>
                            <input name="last_name" type="text" value="{{student.last_name}}">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="pin">Pin</label></td>
                        <td>
                            <input name="pin" type="text" value="{{student.pin}}">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="cohort">Cohort</label></td>
                        <td>
                            <input name="cohort" type="text" value="{{student.cohort}}">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="city">City</label></td>
                        <td>
                            <input name="city" type="text" value="{{student.city}}">
                        </td>
                    </tr>
                </table>
                <input type="submit" value="Save Changes">
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
