{% extends 'base.html' %}
{% block content %}
<div class="container" id="card">
<div class="row center">
    <form class="col" action="/start_day" method="get">
        <div class="row center">
            <button class="btn waves-effect waves-light cyan" type="submit" name="action"><a href="/start_day">Start Day</a></button>
            <span class="error">{{ day_err }}</span>
        </div>
    </form>
    <form class="col" action="/student_login" method="get">
    <div class="row center">
        <button class="btn waves-effect waves-light cyan text-white"><a href="/student_login">Student Login</a></button>
        <span class="error">{{ student_err }}</span>
    </div>
    </form>
</div>
</div>
{% endblock %}