{% extends 'base.html' %}
{% block content %}
<div class="container" id="card">
<div class="row center">
    <div class="row center">
        <button class="btn waves-effect waves-light cyan"><a href="/start_day">Start Day</a></button>
        <span class="error">{{ day_err }}</span>
    </div>
    <div class="row center">
        <button class="btn waves-effect waves-light cyan text-white"><a href="/student_login">Student Login</a></button>
        <span class="error">{{ student_err }}</span>
    </div>
</div>
</div>
{% endblock %}