{% extends 'base.html' %}
{% block content %}
<div class="container" id="student">
<div class="card medium hoverable m6" id="student-card">
    <div class="card-content">
        <span class="card-title" >Student Login</span>
        <form action="/student_login" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <select name="student_id" id="students">
                        <!-- <option value="" disabled selected>Select your name</option> -->
                        {% for student in students %}
                        <option value="{{ student.id }}">{{ student.last_name }}, {{ student.first_name }}</option>
                        {% endfor %}
                        <label for="students">Students</label>
                    </select>
                    <span class="info">{{ login_success }}</span>
                </div><br><br>
                <div class="input-field col s12">
                    <label for="pin">Pin</label>
                    <input class="validate" id="pin" name="pin" type="password"><br>
                    <span class="error">{{ pin_err }}</span>
                </div>
                {% if confirm == 'active' %}
                <div class="input-field col s12">
                    <label for="confirm_pin">Confirm Pin</label>
                    <input class="validate" id="confirm_pin" name="confirm_pin" type="password"><br>
                </div>
                {% endif %}
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light cyan right" type="submit" name="action">Sign-In</button>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}